<div class="row">
  <div class="col-12 col-md-6">
    <form
      #customerForm="ngForm"
      (ngSubmit)="onSubmit(customerForm)"
      class="mb-xl-5 pb-xl-5"
    >

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input name="firstName" type="text" class="form-control" id="firstName" #firstNameControl="ngModel"
               [ngModel]="customerDetails()?.firstName" (ngModelChange)="firstNameChanged($event)" required
               minlength="3" maxlength="45">

        @if (customerForm.submitted && firstNameControl.errors) {
          <div class="text-red">
            {{ firstNameControl.errors['required'] ? 'First Name is required' : '' }}
            {{ firstNameControl.errors['minlength'] ? 'First Name is too short' : '' }}
            {{ firstNameControl.errors['maxlength'] ? 'First Name is too long' : '' }}
          </div>
        }
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input name="lastName" class="form-control" id="lastName" required minlength="3"
               maxlength="255" #lastNameControl="ngModel" [ngModel]="customerDetails()?.lastName"
               (ngModelChange)="lastNameChanged($event)">

        @if (customerForm.submitted && lastNameControl.errors) {
          <div class="text-red">
            {{ lastNameControl.errors['required'] ? 'Last Name is required' : '' }}
            {{ lastNameControl.errors['minlength'] ? 'Last Name is too short' : '' }}
            {{ lastNameControl.errors['maxlength'] ? 'Last Name is too long' : '' }}
          </div>`
        }
      </div>

      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input name="age" type="number" class="form-control" id="age" [ngModel]="customerDetails()?.age"
               (ngModelChange)="ageChanged($event)">
      </div>

      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input name="city" class="form-control" id="city" required minlength="5"
               maxlength="255" #cityControl="ngModel" [ngModel]="customerDetails()?.city"
               (ngModelChange)="cityChanged($event)">

        @if (customerForm.submitted && cityControl.errors) {
          <div class="text-red">
            {{ cityControl.errors['required'] ? 'Last Name is required' : '' }}
            {{ cityControl.errors['minlength'] ? 'Last Name is too short' : '' }}
            {{ cityControl.errors['maxlength'] ? 'Last Name is too long' : '' }}
          </div>`
        }
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input name="country" class="form-control" id="country" required minlength="5"
                  maxlength="255" #countryControl="ngModel" [ngModel]="customerDetails()?.country"
                  (ngModelChange)="countryChanged($event)">

        @if (customerForm.submitted && countryControl.errors) {
          <div class="text-red">
            {{ countryControl.errors['required'] ? 'Last Name is required' : '' }}
            {{ countryControl.errors['minlength'] ? 'Last Name is too short' : '' }}
            {{ countryControl.errors['maxlength'] ? 'Last Name is too long' : '' }}
          </div>`
        }
      </div>

      <div class="d-flex justify-content-md-end mt-3 ">
        <button type="submit" class="btn btn-primary"> Submit</button>
      </div>

    </form>

  </div>
  <div class="col-12 col-md-6">
  </div>

</div>
